@model ArticleManagement.ViewModels.ArticleActionViewModel
@{
    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/template/images/placeholder.png";
}
@if (Model != null)
{
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Article</span>
                }
                else
                {
                    <span>Create Article</span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="ArticleName" placeholder="Enter Article Name." value="@Model.ArticleName">
                </div>

                <div class="form-group">
                    <label>Select Blog Site Title</label>
                    <select name="BlogSiteTitle" id="BlogSiteTitle">
                        @foreach (var item in Model.BlogTitles)
                        {
                            if (Model.ID != 0)
                            {
                                if (item.TitleName == Model.BlogSiteTitle)
                                {
                                    <option selected value="@item.TitleName">@item.TitleName</option>
                                }
                                else
                                {
                                    <option value="@item.TitleName">@item.TitleName</option>

                                }
                            }
                            else
                            {
                                <option value="@item.TitleName">@item.TitleName</option>

                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Enter Note if Any</label>
                    <input type="text" class="form-control" name="Note" placeholder="Enter Note" value="@Model.Note">
                </div>

                <div class="form-group">
                    <label>No of Words</label>
                    <input type="text" class="form-control" name="Words" placeholder="Enter Words" value="@Model.Words">
                </div>


                @*<div class="form-group">
                        <label>Pay Per Word</label>
                        <input type="text" class="form-control" name="PayPerWord" placeholder="Enter Pay Per Word" value="@Model.PayPerWord">
                    </div>*@


                <div class="form-group">
                    <label>Focus Keyword</label>
                    <input type="text" class="form-control" name="FocusKeyWord" placeholder="Enter Focus Keyword" value="@Model.FocusKeyWord">
                </div>


                <div class="form-group">
                    <label>Keyword Link</label>
                    <input type="text" class="form-control" name="KeywordLink" placeholder="Enter KeyWord Link" value="@Model.KeywordLink">
                </div>


                <div class="form-group">
                    <label>Status</label>
                    <select name="Status" id="Status">

                        @if (Model.ID != 0)
                        {
                            if (Model.Status == "Posted")
                            {
                                <option selected value="Posted">Posted</option>
                                <option value="Pending">Pending</option>
                            }
                            else
                            {
                                <option value="Posted">Posted</option>
                                <option selected value="Pending">Pending</option>
                            }
                        }
                        else
                        {
                            <option value="Pending">Pending</option>
                            <option value="Posted">Posted</option>
                        }

                    </select>
                </div>

                <div class="form-group">
                    <label>Posting Date</label>
                    @if (Model.ID == 0)
                    {
                        @Html.TextBox("PostingDate", DateTime.Now, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "PostingDate", @class = "form-control", type = "date" })

                    }
                    else
                    {
                        @Html.TextBox("PostingDate", Model.PostingDate, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "PostingDate", @class = "form-control", type = "date" })

                    }
                </div>

                <div class="form-group">
                    <label>Select Article File</label>
                    <input class="form-control" value="@Model.DocURL" name="DocURL" id="DocURL" type="hidden" />
                    <input class="form-control" onchange="getFilePath()" id="imageUpload" name="Image" type="file" />
                </div>



                <div class="form-group">
                    <label>Select Image</label>

                    <input class="form-control" value="@Model.ImageURL" name="ImageURL" id="ImageURL" type="hidden" />
                    <input class="form-control" id="ArticleimageUpload" name="Image" type="file" accept=".png, .jpg, .jpeg" />
                </div>
                <br />
                <div class="thumb">
                    <img style="height:70px; width:70px" class="img-thumbnail img-fluid" src="@imageURL" id="productimage" />
                </div>

            </form>
        </div>


        <div class="errorDiv">

        </div>
    </div>
    <div class="modal-footer">
        @if (Model.ID != 0)
        {
            <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Update</button>
        }
        else
        {
            <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
        }
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
    </div>
}

<script>
	$("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Article")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","Article")";

		});
    });





      $("#imageUpload").change(function () {

        var element = this;
           var formData = new FormData();





        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("DocURL", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                if (response.Success) {
                    $("#DocURL").val(response.DocURL);
                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });





    $("#ArticleimageUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ArticleUploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#productimage").attr("src", response.ImageURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });
</script>
