@model ArticleManagement.ViewModels.PayRollViewModel
@{
    ViewBag.Title = "PayRoll";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>PayRoll</h2>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col col-lg-12">

        @using (Html.BeginForm("PayRoll", "Admin", FormMethod.Post))
        {
            <div class="form-group">
                <label class="col-sm-3">Select Dispatcher</label>
                <div>
                    <select class="form-control col-md-12" id="Dispatcher" name="Dispatcher">

                        @foreach (var item in Model.Dispatchers)
                        {
                            <option data-id="@item.Id" value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">
                    Show Data
                </button>


            </div>
        }

        @using (Html.BeginForm("Invoice", "Trip", FormMethod.Post, new { target = "_blank" }))
        {
            <label class="col-sm-3">Select Dispatcher for Invoice Generation</label>
            <div>
                <select class="form-control col-md-12" id="DispatcherInvoice" name="DispatcherInvoice">

                    @foreach (var item in Model.Dispatchers)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <button class="btn btn-primary" type="submit">
                Show Invoice
            </button>
        }




    </div>
</div>
@if (Model != null)
{
    if (Model.Trips != null)
    {
        <div class="row">
            <div class="col col-lg-12">
                <div class="card">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        PO #
                                    </th>
                                    <th>
                                        Carrier
                                    </th>
                                    <th>
                                        Driver
                                    </th>
                                    <th>
                                        Dispatcher
                                    </th>
                                    <th>
                                        Rate
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                    <th>
                                        Payment Status
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Trips)
                                {

                                <tr>
                                    @{double salary = 0;
                                    }
                                    <td>@item.ConfirmationPO</td>
                                    <td>@item.Carrier</td>
                                    <td>@item.Driver</td>
                                    <td>@item.Dispatcher</td>
                                    <td>@item.Rate</td>
                                    @{
                                        salary = item.Rate * 0.03;
                                    }
                                    <td>@salary</td>
                                    @if (item.PaymentStatus == "Done")
                                    {
                                        <td><label class="badge badge-success">@item.PaymentStatus</label></td>
                                    }
                                    else
                                    {
                                        <td><label class="badge badge-secondary">@item.PaymentStatus</label></td>

                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning col-md-12" role="alert">
            Sorry! No records exist.
        </div>
    }
}


<script>
    $(".btnInvoice").click(function () {
        $.ajax({
            url: '@Url.Action("Invoice", "Trip")',
            type: "GET",
            data: {
                Name: $('#Dispatcher').find(":selected").text(),
                ID: $('option:selected', '#Dispatcher').attr('data-id')
            }
        })
            .done(function (response) {

]            })
            .error(function (error) {
                alert(error);
            })
    });
</script>
