@model ArticleManagement.ViewModels.CopywriterViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard - Welcome @User.Identity.Name</h2>
<hr />
<h2>Articles</h2>
<div class="card">

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Copy Writer
                    </th>
                    <th>
                        Article Title
                    </th>
                    <th>
                        Site Blog
                    </th>

                    <th>
                        Note
                    </th>
                    <th>
                        Words
                    </th>

                    <th>
                        Focus Keyword
                    </th>
                    <th>
                        Link
                    </th>
                    <th>
                        Posting Date
                    </th>

                    <th>Status</th>


                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    foreach (var item in Model.Articles)
                    {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ArticleName</td>
                    <td>@item.BlogSiteTitle</td>

                    <td>@item.Note</td>
                    <td>@item.Words</td>

                    <td>@item.FocusKeyWord</td>
                    <td>@item.KeywordLink</td>
                    <td>@item.PostingDate</td>


                    @if (item.Status == "Posted")
                    {
                        <td><label class="badge badge-success">@item.Status</label> </td>

                    }
                    else
                    {
                        <td><label class="badge badge-info">@item.Status</label></td>

                    }
                    <td>
                        <button data-href="@Url.Action("Action", "Article", new { ID = item.ID })" type="button" class="data-btn btn btn-info btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-pencil"></i> EDIT</button>
                        <button data-href="@Url.Action("Delete", "Article", new { ID = item.ID })" type="button" class="data-btn btn btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>
                        @if (item.Status != "Posted")
                        {
                            <a href="@Url.Action("Post", "Article", new { ID = item.ID })" type="button" class="data-btn btn btn-info btn-icon-text"><i class="mdi mdi-upload"></i>POST</a>
                    }
                        <a href="@Url.Action("DownloadFile", "Article", new { fileName = item.DocURL })" type="button" class="data-btn btn btn-success btn-icon-text"><i class="mdi mdi-download"></i>DOWNLOAD</a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
        });
</script>

